body{
background: url(../imagenes/body.jpg);
background-size: 100%;
background-attachment: fixed;
font-family:"indie flower";
color:white}

#izquierda{background:rgba(120,10,5,0.5) ;
margin-bottom: 20px;
border-radius: 10px;}

#derecha{background:rgba(120,10,5,0.5);
margin-bottom: 20px;
border-radius: 10px;}

h1{font-family:"indie flower";}
h4{font-family:"indie flower";}
h3{font-family:"indie flower";}
menu{background: rgba(90,30,5,0.7)}
li{ background: rgba(120,10,5,0.7);}
li:hover{background: rgba(20,20,30,0.9)}
a{color:white}
a:hover{background-color:rgb(120,10,5);
color:white}

.postres{padding-top: 5px;
padding-bottom: 5px}

.button{
  border-radius: 10px;
  background:rgba(120,10,5,0.7);
}
.button:hover{background-color:rgb(120,10,5)}

.espacio{min-height: 130px;}

#com{
border: black solid 1px;
  border-radius: 10px;
  margin:3px;
  padding: 10px;
}
